{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
  ],
  "plugins": [
    "babel-plugin-inline-import",
    ["@babel/plugin-transform-runtime",
      {
          "polyfill": false,
          "regenerator": true
      }],
    ["@babel/plugin-transform-react-jsx", {"pragma": "Snabbdom.createElement"}]
  ],
}