{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          ">1%",
          "last 4 versions",
          "Firefox ESR",
          "not ie < 9"
        ],
        "esmodules": true,
        "node": "current"
      },
      "useBuiltIns": "usage"
    }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "import-graphql",
    "transform-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-jsx",
    "babel-plugin-inline-import",
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }],
    ["@babel/plugin-transform-react-jsx", {"pragma": "Snabbdom.createElement"}],
    ["babel-plugin-root-import", {
      "paths": [{
        "rootPathPrefix": "~",
        "rootPathSuffix": "src/"
      }]
    }]
  ]
}