{
  "presets": [
    "env",
    "react",
    "stage-0",
  ],
  "plugins": [
    "transform-class-properties",
    "syntax-dynamic-import",
    "syntax-jsx",
    "babel-plugin-inline-import",
    ["transform-runtime",
      {
          "polyfill": false,
          "regenerator": true
      }],
    ["transform-react-jsx", {"pragma": "Snabbdom.createElement"}],
    ["babel-plugin-root-import", {
      "paths": [{
        "rootPathPrefix": "~",
        "rootPathSuffix": "src/"
      }]
    }]
  ]
}